doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap")
        link(rel="stylesheet" href="css/main.css")
        title Longform Writer's Conference: Gallery
    body
        a#top
        header
            h1 Welcome to The Gallery!
        nav 
            ul
                li.reactive #[a(href="#top") Top]
                li.reactive #[a(href="index.html") Home]
                li.reactive #[a(href="recommended.html") Recommended Tools]
                li.active Gallery
                li.reactive #[a(href="form.html") Contact]
        main
            #wrapper
                h2 Scrivener:
                .gallery
                    figure
                        img(src="img/scrivener-1-final.jpg", alt="Scrivener showing a saved PDF")
                        figcaption Scrivener can hold research documents for reference as you're writing.
                    figure
                        img(src="img/scrivener-2-final.jpg", alt="Scrivener Export")
                        figcaption Scrivener has a wide array of export options.
                    figure
                        img(src="img/scrivener-3-final.jpg", alt="Storyboard")
                        figcaption Scrivener has tools to help you plan your story.
                    figure
                        img(src="img/scrivener-4-final.jpg", alt="Outline View")
                        figcaption Scrivener's Outline View
                h2 Ulysses:
                .gallery
                    figure
                        img(src="img/ulysses-1-final.jpg", alt="Ulysses Library")
                        figcaption Ulysses keeps all of your files in it's library.
                    figure
                        img(src="img/ulysses-2-final.jpg", alt="Goal Tracker")
                        figcaption Ulysses keeps track of your writing goals.
                    figure
                        img(src="img/ulysses-3-final.jpg", alt="Backup Settings")
                        figcaption It can backup your writing.
                    figure
                        img(src="img/ulysses-4-final.jpg", alt="Ulysses Export")
                        figcaption Ulysses has a great many export options.
        footer
            p &copy; #[a(href="https://www.jennroylance.com") Jennifer Roylance] &#8226; 2020-10-01 &#8226; #[a(href="mailto:jennroylance@gmail.com") Contact Us]
