doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Longform Writer's Conference 
	body
		header#header
			h1 Longform Writer's Conference
			h2 Unblocking writer's everywhere!
		nav 
			ul
				li #[a(href="#header") Top]
				li #[a(href="#introduction") Introduction]
		main#introduction 
			h1 Welcome to the first Conference where you'll feel at home!#[br]
			blockquote
			p
			h2
			p 
				ul
					li
					li
					li
					li
					li
			h2
			p 
				ol
					li
					li
					li
					li
					li
			h2
			p 
				dl
					dt
					dd
					dt
					dd
					dt
					dd
		footer
