html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap")
        link(rel="stylesheet" href="css/main.css")
        title Longform Writer's Conference 
    body
        a#top
        nav 
            ul
                li.reactive #[a(href="#top") Top]
                li.reactive #[a(href="index.html") Home]
                li.reactive #[a(href="recommended.html") Recommended Tools]
                li.reactive #[a(href="gallery.html") Gallery]
                li.reactive #[a(href="form.html") Contact]
                li.active Media
                li.reactive #[a(href="maps.html") Find Us]
        header
            h1 Find media related to the Conference!
            h1 ↓
        main#introduction
            #wrapper
                h3 Sound Clip:
                .centerFrame
                    audio(controls)
                        source(src="resources/output.ogg" type="audio/ogg")
                        source(src="resources/output.mp3" type="audio/mpeg")
                        p Your browser does not support listening to audio.
                h3 Brochure:
                .centerFrame
                    a.button(href="resources/brochure.pdf", target="_blank") Download
                h3 Video Series on Creative Writing:
                .centerFrame
                    iframe(width='560' height='315' src='https://www.youtube.com/embed/videoseries?list=PLSH_xM-KC3Zv-79sVZTTj-YA6IAqh8qeQ' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                    h4 Lectures by Brandon Sanderson
                    table
                        thead
                            tr
                                th Class
                                th URL
                        tbody
                            tr
                                td
                                    | Lecture #1: Introduction &mdash; Brandon Sanderson on Writing Science Fiction and Fantasy
                                td
                                    | #[a(href="https://www.youtube.com/watch?v=-6HOdHEeosc&amp;list=PLSH_xM-KC3Zv-79sVZTTj-YA6IAqh8qeQ&amp;index=1") link]
                            tr
                                td
                                    | Lecture #2: Plot Part 1 &mdash; Brandon Sanderson on Writing Science Fiction and Fantasy
                                td
                                    | #[a(href="https://www.youtube.com/watch?v=-6HOdHEeosc&amp;list=PLSH_xM-KC3Zv-79sVZTTj-YA6IAqh8qeQ&amp;index=2") link]
                            tr
                                td
                                    | Lecture #3: Plot Part 2 &mdash; Brandon Sanderson on Writing Science Fiction and Fantasy
                                td
                                    | #[a(href="https://www.youtube.com/watch?v=-6HOdHEeosc&amp;list=PLSH_xM-KC3Zv-79sVZTTj-YA6IAqh8qeQ&amp;index=3") link]
                            tr
                                td
                                    | Lecture #4: Viewpoint and Q&amp;A &mdash; Brandon Sanderson on Writing Science Fiction and Fantasy
                                td
                                    | #[a(href="https://www.youtube.com/watch?v=-6HOdHEeosc&amp;list=PLSH_xM-KC3Zv-79sVZTTj-YA6IAqh8qeQ&amp;index=4") link]
                            tr
                                td
                                    | Lecture #5: Worldbuilding Part One &mdash; Brandon Sanderson on Writing Science Fiction and Fantasy
                                td
                                    | #[a(href="https://www.youtube.com/watch?v=-6HOdHEeosc&amp;list=PLSH_xM-KC3Zv-79sVZTTj-YA6IAqh8qeQ&amp;index=5") link]
                            tr
                                td
                                    | Lecture #6: Worldbuilding Part Two &mdash; Brandon Sanderson on Writing Science Fiction and Fantasy
                                td
                                    | #[a(href="https://www.youtube.com/watch?v=-6HOdHEeosc&amp;list=PLSH_xM-KC3Zv-79sVZTTj-YA6IAqh8qeQ&amp;index=6") link]
                            tr
                                td 
                                    | Lecture #7: Short Stories &mdash; With Special Guest Instructor Mary Robinette Kowal
                                td
                                    | #[a(href="https://www.youtube.com/watch?v=-6HOdHEeosc&amp;list=PLSH_xM-KC3Zv-79sVZTTj-YA6IAqh8qeQ&amp;index=7") link]
                            tr
                                td
                                    | Lecture #8: Worldbuilding Q&amp;A &mdash; Brandon Sanderson on Writing Science Fiction and Fantasy
                                td
                                    | #[a(href="https://www.youtube.com/watch?v=-6HOdHEeosc&amp;list=PLSH_xM-KC3Zv-79sVZTTj-YA6IAqh8qeQ&amp;index=8") link]
                            tr
                                td
                                    | Lecture #9: Characters &mdash; Brandon Sanderson on Writing Science Fiction and Fantasy
                                td
                                    | #[a(href="https://www.youtube.com/watch?v=-6HOdHEeosc&amp;list=PLSH_xM-KC3Zv-79sVZTTj-YA6IAqh8qeQ&amp;index=9") link]
                            tr
                                td
                                    | Lecture #10: Characters Part 2 &mdash; Brandon Sanderson on Writing Science Fiction and Fantasy
                                td
                                    | #[a(href="https://www.youtube.com/watch?v=-6HOdHEeosc&amp;list=PLSH_xM-KC3Zv-79sVZTTj-YA6IAqh8qeQ&amp;index=10") link]
                            tr
                                td
                                    | Lecture #11: Character Q&amp;A &mdash; Brandon Sanderson on Writing Science Fiction and Fantasy
                                td
                                    | #[a(href="https://www.youtube.com/watch?v=-6HOdHEeosc&amp;list=PLSH_xM-KC3Zv-79sVZTTj-YA6IAqh8qeQ&amp;index=11") link]
                            tr
                                td
                                    | Lecture #12: Publishing Part One &mdash; Brandon Sanderson on Writing Science Fiction and Fantasy
                                td
                                    | #[a(href="https://www.youtube.com/watch?v=-6HOdHEeosc&amp;list=PLSH_xM-KC3Zv-79sVZTTj-YA6IAqh8qeQ&amp;index=12") link]
                            tr
                                td
                                    | Lecture #13: Publishing Part Two &mdash; Brandon Sanderson on Writing Science Fiction and Fantasy
                                td
                                    | #[a(href="https://www.youtube.com/watch?v=-6HOdHEeosc&amp;list=PLSH_xM-KC3Zv-79sVZTTj-YA6IAqh8qeQ&amp;index=13") link]

        footer
            p &copy; #[a(href="https://www.jennroylance.com") Jennifer Roylance] &#8226; 2020-10-01 &#8226; #[a(href="mailto:jennroylance@gmail.com") Contact Us]