doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="Refresh" content="5; url='index.html'")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap")
        link(rel="stylesheet" href="css/main.css")
        title Longform Writer's Conference: Contact Us
    body
        a#top
        header
            h1 Thanks for submitting!
            h2 You will be redirected to our homepage in 5 seconds
        nav 
            ul
                li.reactive #[a(href="#top") Top]
                li.reactive #[a(href="index.html") Home]
                li.reactive #[a(href="recommended.html") Recommended Tools]
                li.reactive #[a(href="gallery.html") Gallery]
                li.reactive #[a(href="form.html") Contact]

        footer
            p &copy; #[a(href="https://www.jennroylance.com") Jennifer Roylance] &#8226; 2020-10-01 &#8226; #[a(href="mailto:jennroylance@gmail.com") Contact Us]
